 
{border: 0; 
margin-padding: 0;
box-sizing: border-box;}    
html {
    background-color: #0A22F4
}

header img {
    width: 97px;
    height: 55px;
    margin: top: 40px;
    margin-left: 240px;
}
ul {
    list-style: none;
    display: inline-block;
}  
a  {
    text-decoration: none;
    color: #FFFFFF;
}         
nav {
    display: inline-block;
}
li {display: inline-block;
     padding-right:42px;
}   
article p { 
    max-width: 463PX;
    font-family: "font-2";
}
section {
    background-color: #FFFFFF;
    margin-left: 0px;
}
 h1 {
    font-family: "Bitcount Ink", system-ui;
}
@font-face {
    font-family: "font-2";
    src: url('../fonts/arial-geo-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/arial-geo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/arial-geo-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/arial-geo-bolditalic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/arial-geo-bolditalic-webfont.svg#arial_geobolditalic') format('svg'); /* Legacy iOS */
}
section article {
    display: inline-block;
}